
<script type="module" src="/scripts/gamescript.js"></script>

Goal: O2 makes up 21% of the atmosphere in the present day. 

<div class="atmosphere">
    Atmosphere 
    <div class="N2">
        <div class="atmosphere-text">
            N2: <div id="N2" class="num">0</div>%
        </div>
    </div>
    <div class="CO2">
        <div class="atmosphere-text">
            CO2: <div id="CO2" class="num">0</div>%
        </div>
    </div>
    <div class="O2">
        <div class="atmosphere-text">
            O2: <div id="O2" class="num">0</div>%
        </div>
    </div>
</div>
<div class="population">
    Population: <div id="population" class="num">0</div>
    <br>
    New Mutations: <div id="genetic" class="num">0</div>
    <br>
    <div class="mutations">
        Available Genes:
        <br>
    </div>
</div>
<div class="time">
    Year: <div id="time" class="num"></div> billion years ago
    <br>
    <div class="div-startbutton">
        <button class="startbutton" id="btn-start">Start the game!</button>
    </div>
</div>
