
.content {
    font-size:14px;
    background-color:azure;
}

button {
    font-size:15px;
    margin:5px;
    padding:5px;
}

.startbutton {
    display:block;
    margin:auto;
}

.buybutton {
    margin:auto;
}

.num {
    display:inline;
}

/* 
    TODO: 
    show the percentages of these things as visual fractions of the space in different colors 
    evokes the atmosphere changing color or at least composition- look this up for accuracy 
    evokes an alien world 

    could also do something similar for population and for the ground for time passing-
    like red bands for how geologists found the time for this stuff for when this happened 

    and the population of bacteria, what color might have corresponded to photosynthesis 
    or different types of stuff? 
*/

.atmosphere {
    background-color:lightblue;
    color:royalblue;
    padding:15px;
    border-radius: 2px;
    height:200px;
}
.O2 {
    background-color:lightblue;
}
.CO2 {
    background-color:aliceblue;
}
.N2 {
    background-color:lightskyblue;
}
.atmosphere-text {
    color:royalblue;
    float:left;
    padding:0 10px 0 10px;
}

.population {
    background-color:darkkhaki;
    color:darkolivegreen;
    padding:15px;
    border-radius:5px;
    display:inline-block;
    margin: auto;
    min-height: 125px;
}

.time {
    background-color:saddlebrown;
    color:lightgoldenrodyellow;
    padding:15px;
    border-radius: 1px;
    height:150px;
}
